@import "./node_modules/bootstrap/scss/bootstrap";

$primary:  #5265E1;
$danger: #FA5959;

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

.custom-button {
    background-color: $danger;
    color: white;
}

.custom-button:hover {
    background-color: white;
    outline: 0.1rem solid $danger;
    color: $danger;
}

