@import "./node_modules/bootstrap/scss/bootstrap";

$primary:  #5265E1;
$secondary: #FA5959;
$tertiary: #dddddd;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary
);

body {
  font-size: 1.2rem;
}


.px-7{
  padding: 0 7rem;
}

.mx-10 {
  margin-right: 6rem;
  margin-left: 6rem;
}

@media (max-width: 768px) {
  .mt-16 {
      margin-top: 8rem;
  }
}

@media (min-width: 768px) {
  .mt-md-12 {
      margin-top: 6rem;
  }
}

.nav-link:hover {
  color: $secondary;
}

.navbar {
  //background-image: url("./images/icon-hamburger.svg");
  --bs-navbar-toggler-icon-bg: url("./images/icon-hamburger.svg");
}

.navbar-toggler {
  border: none;

  &:focus {
    outline: none;
    box-shadow: none;
}
}

.btn{
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover {
  background-color: white;
  outline: 0.1rem solid $primary;
  color: $primary;
}

.btn-secondary {
  background-color: $secondary;
  color: white !important; 
}

.btn-secondary:hover {
  background-color: white;
  outline: 0.15rem solid $secondary;
  color: $secondary;
}

.btn-tertiary {
  background-color: $tertiary;
  color: black;
}

.btn-tertiary:hover {
  background-color: white;
  outline: 0.15rem solid black;
  color: black;
}

.fw-semi-bold {
  font-weight: 600; 
}

.image-container {
  position: relative;
}


.blue-area {
  position: absolute;
  width: 80%; 
  height: 80%; 
  background-color: $primary;
  top: 80px;  
  right: 0;
  z-index: -1; 
  border-bottom-left-radius: 50%;
}

.blue-area-reverse{
  position: absolute;
  width: 70%; 
  height: 90%; 
  background-color: $primary;
  top: 80px;  
  left: 0;
  z-index: -1; 
  border-bottom-right-radius: 50%;
}

@media (max-width: 576px) {
  .blue-area .blue-area-2 {
    top: 60px;
  }
}

//tabs
.nav-tabs {
  --bs-nav-tabs-link-active-color: $secondary !important;
   .active {
    color: black !important;
    border-bottom: 3px solid $secondary !important;
  }
}

@media (max-width: 768px) {
  .nav-item{
    border-top: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0 !important;
  }
}

.nav-item {
  margin: 0 40px;
}

@media (max-width: 992px) {
  .nav-item {
    margin: 0 20px;
  }
}


.custom-tab .nav-link{
  color: var(--bs-gray-600);
   
}

.nav-link:hover {
  color: $secondary !important;
}

//cards

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top{
  display: block;
  max-width: 35%;
  margin: auto;
}

.dots{
  background: url("./images/bg-dots.svg") no-repeat;
  background-size: cover;
  height: 4px;
}

//faqs

.faq-question {
  font-size: 1.2em;
  font-weight: 500;
}

.accordion {
  --bs-accordion-btn-icon: url("./images/icon-arrow.svg");
  --bs-accordion-btn-active-icon: url("./images/icon-arrow.svg");
  --bs-accordion-active-bg: none;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-border-color: none;//var(--bs-border-color);
  border-top: 1px solid #babcbe;
  --bs-accordion-bg: none;
}

.accordion-item {
  border-bottom: 1px solid #babcbe;
}

.accordion-button:hover {
  color: $secondary;
}
