@import "./node_modules/bootstrap/scss/bootstrap";

$primary:  #5265E1;
$secondary: #FA5959;
$tertiary: #dddddd;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary
);

.nav-link:hover {
  color: $secondary;
}


.btn{
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover {
  background-color: white;
  outline: 0.1rem solid $primary;
  color: $primary;
}

.btn-secondary {
  background-color: $secondary;
  color: white;
}

.btn-secondary:hover {
  background-color: white;
  outline: 0.15rem solid $secondary;
  color: $secondary;
}

.btn-tertiary {
  background-color: $tertiary;
  color: black;
}

.btn-tertiary:hover {
  background-color: white;
  outline: 0.15rem solid black;
  color: black;
}

.fw-semi-bold {
  font-weight: 600; 
}

.image-container {
  position: relative;
}


.blue-area {
  position: absolute;
  width: 80%; 
  height: 80%; 
  background-color: $primary;
  top: 80px;  
  right: 0;
  z-index: -1; 
  border-bottom-left-radius: 50%;
}

@media (max-width: 576px) {
  .blue-area {
    top: 60px;
  }
}
